.launch-button {
    width: 46px;
    height: 46px;
    font-size: large;
    align-items: center;
    background-color: var(--launch-button-bg);
    color: black;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
    transition: background-color 0.2s ease;
    /* flex-shrink: 0; */
  }

.launch-button > * {
    height: 75%;
  }

.launch-button:hover {
    background-color: var(--launch-button-hover);
}

.launch-button.clicked {
    background-color: var(--launch-button-hover);
}

/* Style for the icon to adapt to theme */
.launch-button img {
  filter: var(--launch-icon-filter);
  opacity: var(--launch-icon-opacity);
  transition: filter 0.3s ease, opacity 0.3s ease;
  width: 24px;
  height: 24px;
}