.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e7e7e7;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .taskbar-items {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    overflow:auto;
  }
  
  .taskbar-item {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    background-color: #dbdbdb;
    height: 50px;
    color: black;
    border: none;
    outline: none;
    box-shadow: inset 0 -4px 0 black;
    /* margin-right: 10px; */
    padding: 10px;
    cursor: pointer;
    /* border-radius: 5px; */
    outline: none;
    flex-shrink: 0;
    width: 180px;
    font-size: 14px;

  }

  .taskbar-item .taskbar-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }


  
  .taskbar-item:hover {
    background-color: #d6d6d6;
  }
  
  .taskbar-item.minimized {
    opacity: 0.4;
  }
  
  .taskbar-item.inactive {
    opacity: 0.8;
    background-color: #e7e7e7;
    box-shadow: none;
  }