html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.desktop {
  width: 100%;
  height: 100%;
  position: absolute;
}

.desktop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  background-image: url("./assets/wallpaper/wall0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(1px);
  transform: scale(1.05);
}

.desktop h1 {
  color: white;
  padding: 20px;
}