.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: default;
    transition: background-color 0.3s;
    color: white;
    width: var(--desktop-icon-width);
}

.icon-button img {
    width: var(--desktop-icon-size);
    height: var(--desktop-icon-size);
    padding: var(--desktop-icon-padding);
    background-color: transparent;
    -webkit-filter: drop-shadow(3px 3px 3px #000000bf);
    filter: drop-shadow(3px 3px 3px #000000bf);
    display: inline-block;
}

.icon-button span {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: var(--desktop-icon-font);
    background-color: transparent;
    -webkit-filter: drop-shadow(3px 3px 5px #000000);
    filter: drop-shadow(3px 3px 5px #000000);
    display: inline-block;
}

.icon-button:hover {
    background-color: rgba(173, 216, 230, 0.5);
}

.icon-button:active {
    background-color: rgba(0, 191, 255, 0.501);
}
