.terminal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow-y: auto;
    padding: 4px;
    box-sizing: border-box;
    cursor: text;
}

.terminal-output {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    word-break: break-all;
}

.terminal-line {
    min-height: 1.2em;
    line-height: 1.2em;
}

.terminal-input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 1.2em;
    line-height: 1.2em;
    white-space: pre-wrap;
    word-break: break-all;
}

.terminal-prompt {
    color: #00ff00;
    flex-shrink: 0;
}

.terminal-input-content {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    margin-left: 0;
}

.terminal-cursor {
    background-color: white;
    color: black;
}

.hidden-input {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    border: none;
    z-index: -1;
}
